-r requirements-minimal.txt
coverage
flask
flask-restplus
mypy
pre-commit
pytest
requests
sqlalchemy
tox
tox-pip-extensions
werkzeug>=3.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
